.phone-svg2 {
    .phone-path2 {
      stroke-dasharray: 2011.5057373046875;
      stroke-dashoffset: 0;
      opacity: 0;
    }

    .phone-animation{
      animation: phoneline2 3.5s linear;
      opacity: 1;
    }
  }
  @keyframes phoneline2 {
    from {
      stroke-dasharray: 2011.5057373046875 2011.5057373046875;
      stroke-dashoffset: 2011.5057373046875;
    }
    to {
      stroke-dashoffset: 0;
    }
  }