.card {
  position: relative;
  text-align: center;
  img {
    width: 150px;
  }
  // FRONT CARD
  .front {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: none;
    position: absolute;
    // -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    // -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  // FRONT CARD flipped
  .flipped {
    .front {
      -webkit-perspective: 1000;
      -webkit-backface-visibility: none;
      // -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      // -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
  }

  // BACK CARD
  .back {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: none;
    // -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    // -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  // BACK CARD flipped
  .flipped {
    .back {
      -webkit-perspective: 1000;
      -webkit-backface-visibility: none;
      // -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
      // -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
  }
}

@media (max-width: 1000px) {
  .card {
    img {
      width: 130px;
    }
  }
}

@media (max-width: 630px) {
  .card {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .card {
    img {
      width: 100%;
    }
  }
}
