/*  Website color pallete

    Eerie black  - #1C1F21
    Light eerie black - #2B2F32
    Cadet Grey   - #919BA1
    Cultured     - #F4F5F6
    Honey yellow - #F6AE2D
    Orange red   - #F26419
*/

/* FONTS 
font-family: 'Kanit', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Rubik Mono One', sans-serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f4f5f6;
  font-family: "Kanit", sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #1c1f21;
}

.container {
  width: calc(100vw - (100vw - 100%));
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
}

@media(max-width:650px){
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
